@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");
:root {
  --green: rgb(15, 209, 15);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: black;
  margin-top: 40px;
  font-family: "DM Sans";
}
section {
  padding: 40px 0 40px 0;
  margin: 0 auto;
  display: flex;
  width: 50vh;
  max-height: 105vh;
  align-items: center;
  flex-direction: column;
  background-color: rgb(31 31 31);
  border-radius: 20px;
  box-shadow: 2px 3px 16px 0px red;
}
img {
  margin: 20px;
  border-radius: 50%;
  width: 118px;
  height: 100px;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 26px;
}
p {
  padding: 5px 0 20px 0;
  color: var(--green);
}
cite {
  font-style: normal;
}
.appli {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 20px 0;
  a {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 550;
    color: white;
    background-color: #333333;

    border-radius: 10px;
  }
}
a:first-child:hover {
  background-color: black;
  color: red;
  font-size: 24px;
}
a:nth-child(2):hover {
  background-color: red;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
a:nth-child(3):hover {
  background-color: blue;
  color: rgb(255, 255, 255);
  font-size: 24px;
}
a:nth-child(4):hover {
  background-color: var(--green);
  color: rgb(0, 0, 0);
  font-size: 24px;
}
a:last-child:hover {
  /* background-color: rgb(238, 62, 62);
  color: rgb(255, 230, 0); */
  background: rgb(201, 13, 13);
  background: linear-gradient(
    90deg,
    rgba(201, 13, 13, 1) 0%,
    rgba(154, 43, 138, 1) 38%,
    rgba(231, 255, 27, 1) 100%
  );
  font-size: 24px;
}
